<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="30061">
        <setting id="show_liga" type="bool" label="30054" default="true"/>
        <setting id="show_segunda" type="bool" label="30059" default="false"/>
        <setting id="show_copa" type="bool" label="30055" default="true"/>
        <setting id="show_champions" type="bool" label="30056" default="true"/>
        <setting id="show_europaleague" type="bool" label="30062" default="true"/>
        <setting id="show_conference" type="bool" label="30068" default="true"/>
        <setting id="show_premier" type="bool" label="30063" default="false"/>
        <setting id="show_acb" type="bool" label="30057" default="true"/>
        <setting id="show_euroleague" type="bool" label="30058" default="true"/>
        <setting id="show_tenis" type="bool" label="30064" default="false"/>
        <setting id="show_golf" type="bool" label="30065" default="false"/>
        <setting id="show_motos" type="bool" label="30066" default="false"/>
        <setting id="show_motogp" type="bool" label="30070" default="false"/>
        <setting id="show_motos2" type="bool" label="30071" default="false"/>
        <setting id="show_motos3" type="bool" label="30072" default="false"/>
        <setting id="show_coches" type="bool" label="30067" default="false"/>
        <setting id="show_f1" type="bool" label="30069" default="false"/>
    </category>
    <category label="30060">
        <setting id="show_ala" type="bool" label="Alavés" default="false"/>
        <setting id="show_atb" type="bool" label="Athletic de Bilbao" default="false"/>
        <setting id="show_atm" type="bool" label="Atlético de Madrid" default="false"/>
        <setting id="show_fcb" type="bool" label="Barça" default="true"/>
        <setting id="show_betis" type="bool" label="Betis" default="false"/>
        <setting id="show_cadiz" type="bool" label="Cádiz" default="false"/>
        <setting id="show_cel" type="bool" label="Celta" default="false"/>
        <setting id="show_esp" type="bool" label="Espanyol" default="false"/>
        <setting id="show_geta" type="bool" label="Getafe" default="false"/>
        <setting id="show_girona" type="bool" label="Girona" default="true"/>
        <setting id="show_lp" type="bool" label="Las Palmas" default="false"/>
        <setting id="show_lega" type="bool" label="Leganés" default="false"/>
        <setting id="show_mall" type="bool" label="Mallorca" default="false"/>
        <setting id="show_osa" type="bool" label="Osasuna" default="false"/>
        <setting id="show_rayo" type="bool" label="Rayo Vallecano" default="false"/>
        <setting id="show_rm" type="bool" label="Real Madrid" default="false"/>
        <setting id="show_rs" type="bool" label="Real Sociedad" default="false"/>
        <setting id="show_sev" type="bool" label="Sevilla" default="false"/>
        <setting id="show_val" type="bool" label="Valencia" default="false"/>
        <setting id="show_vall" type="bool" label="Valladolid" default="false"/>
        <setting id="show_vill" type="bool" label="Villareal" default="false"/>
    </category>
    <category label="pipTV">
        <setting id="show_history" type="bool" label="30045" default="true"/>
        <setting id="show_empty_play" type="bool" label="30046" default="false"/>
        <setting type="sep"/>
        <setting label="30048" type="lsep"/>
        <setting id="agenda_link_all" type="bool" label="30047" default="false"/>
    </category>
</settings>